<form>
    <div>
        <mat-form-field>
            <input required type="text" placeholder="Adres" matInput [(ngModel)]="location.addressLine1" name="addressLine1" (keyup)="locationChanged($event)">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input type="text" placeholder="Adresregel 2" matInput [(ngModel)]="location.addressLine2" name="addressLine2" (keyup)="locationChanged($event)">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input required type="text" placeholder="Stad" matInput [(ngModel)]="location.city" name="city" (keyup)="locationChanged($event)">
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field>
            <input required type="text" placeholder="Gemeente" matInput [(ngModel)]="location.municipality" name="municipality" (keyup)="locationChanged($event)">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input required type="text" placeholder="Postcode" matInput [(ngModel)]="location.zipcode" name="zipcode" (keyup)="locationChanged($event)">
        </mat-form-field>
    </div>
</form>
