
<div class="flex-container">
    <div class="flex-items">
        <div>
            <a routerLink="/hire">
                <span class="material-icons">
                    arrow_back_ios
                </span>
                <span style="position:relative;top:-7px">
                    terug naar de lijst
                </span>
            </a>
        </div>
        <div style="padding-top:20px">
            <img src="assets/img/app/maincar.jpg" alt="car" width="80%">
        </div>
    </div>
    <div class="flex-items" style="padding-top:50px">
        <h3>details {{ car.make + ' ' + car.model }}</h3>
        {{ car.body }}
    </div>
 </div>





