.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
  }
  .flex-items {
      width: 25%;
      margin: 10px;
  }
