.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: center;
  }
  .flex-items {
      width: 20%;
      margin: 10px;
  }
  .label {
      color:#666;
      font-size: 12px;
      width:75px
  }
  .mat-card-content {
      padding-left: 17px
  }
