<mat-toolbar class="mat-elevation-z6">
    <!-- Row 1-->
    <mat-toolbar-row>
        <mat-form-field >
            <mat-label>Plaats</mat-label>
            <input matInput type="text" [(ngModel)]='searchCriteria.pickUpLocation'>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Gewenste huurperiode</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input type="datetime-local" matStartDate placeholder="ophaaldatum"  [(ngModel)]='searchCriteria.pickUpDate'>
                <input type="datetime-local" matEndDate   placeholder="inleverdatum" [(ngModel)]='searchCriteria.dropOffDate'>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <span class="example-spacer"></span>
        <a (click)="toggleMoreSearchFields()">{{ simpleSearchMode ? 'meer zoekvelden' : 'minder zoekvelden'}}</a>

        <span class="example-spacer"></span>
        <a (click)="setDefaultData()">reset zoekvelden</a>

        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" (click)="searchClick()"> bekijk aanbod </button>
    </mat-toolbar-row>

    <!-- Row 2-->
    <mat-toolbar-row [ngStyle]="{'display':simpleSearchMode ? 'none' : 'block'}">

        <mat-form-field >
            <mat-label>Merk</mat-label>
            <mat-select [(ngModel)]='searchCriteria.make'>
                <mat-option *ngFor="let make of makes" [value]="make.key">
                    {{make.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field >
            <mat-label>Model</mat-label>
            <input matInput type="text" [(ngModel)]='searchCriteria.model'>
        </mat-form-field>

        <mat-form-field >
            <mat-label>Kleur</mat-label>
            <mat-select [(ngModel)]='searchCriteria.color'>
                <mat-option *ngFor="let color of colors" [value]="color.key">
                    {{color.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field >
            <mat-label>Transmissie</mat-label>
            <mat-select [(ngModel)]='searchCriteria.transmission'>
                <mat-option *ngFor="let transmission of transmissions" [value]="transmission.key">
                    {{transmission.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field >
            <mat-label>Brandstof</mat-label>
            <mat-select [(ngModel)]='searchCriteria.fuel'>
                <mat-option *ngFor="let fuel of fuelTypes" [value]="fuel.key">
                    {{fuel.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </mat-toolbar-row>

    <!-- Row 3-->
    <mat-toolbar-row [ngStyle]="{'display':simpleSearchMode ? 'none' : 'block'}">

        <mat-form-field >
            <mat-label>Bouwjaar</mat-label>
            <input matInput type="number" min="1900" max="2021" step="1" [(ngModel)]='searchCriteria.modelYear'>
        </mat-form-field>

        <mat-form-field >
            <mat-label>Aantal deuren</mat-label>
            <input matInput type="number" min="1" max="5" step="1" [(ngModel)]='searchCriteria.doors'>
        </mat-form-field>

        <mat-form-field >
            <mat-label>Aantal zitplaatsen</mat-label>
            <input matInput type="number" min="1" max="10" [(ngModel)]='searchCriteria.seats'>
        </mat-form-field>
    
        <mat-form-field >
            <mat-label>Bagageruimte minimaal (liter)</mat-label>
            <input matInput type="number" min="1" max="10000" [(ngModel)]='searchCriteria.bootspaceInLiters'>
        </mat-form-field>

        <mat-form-field >
            <mat-label>Rookvrij</mat-label>
            <mat-select [(ngModel)]='searchCriteria.nonSmoking'>
                <mat-option value="1">ja</mat-option>
                <mat-option value="0">nee</mat-option>
            </mat-select>
        </mat-form-field>

    </mat-toolbar-row>

</mat-toolbar>
            


    


