<h1>{{this.data.car.make}} - {{this.data.car.numberPlate}}</h1>
<form>
    <table style="border-spacing: 50px 15px; width: 500px;">
        <tr>
            <td>
                <mat-form-field>
                    <input required type="number" placeholder="Prijs per uur" matInput
                        [(ngModel)]="this.data.car.rentPricePerHour" name="rentPricePerHour">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <mat-slide-toggle [(ngModel)]='this.data.car.navigation' name="navigation">navigatie
                    </mat-slide-toggle>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <mat-slide-toggle [(ngModel)]='this.data.car.airco' name="airco">airco</mat-slide-toggle>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <mat-slide-toggle [(ngModel)]='this.data.car.smokingIsAllowed' name="smokingIsAllowed">rookvrij
                    </mat-slide-toggle>
                </div>
            </td>
        </tr>
        <h1 style="margin-top: 20px;">Ophaallocatie</h1>
        <tr>
            <td>
                <mat-form-field>
                    <input required type="text" placeholder="Adres" matInput
                        [(ngModel)]="this.data.car.location.addressLine1" name="addressLine1">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input type="text" placeholder="Adresregel 2" matInput
                        [(ngModel)]="this.data.car.location.addressLine2" name="addressLine2">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input required type="text" placeholder="Stad" matInput [(ngModel)]="this.data.car.location.city"
                        name="city">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input required type="text" placeholder="Gemeente" matInput
                        [(ngModel)]="this.data.car.location.municipality" name="municipality">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input required type="text" placeholder="Postcode" matInput
                        [(ngModel)]="this.data.car.location.zipcode" name="zipcode">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container-fluid" style="margin-top: 15px;">
                    <div class="col-md-4">
                        <mat-card class="mb-3" style="width: 500px;">
                            <mat-card-header>
                            <mat-card-title>foto's</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <ng-container *ngIf="carImages.length == 0">
                                    <img src="assets/img/app/maincar.jpg" alt="car" width="100%" />
                                    <p class="text-center">Geen foto's van deze auto beschikbaar</p>
                                </ng-container>
                                <carousel objectFit="scale-down" [images]="carImages" cellsToShow="1" dots="true" *ngIf="carImages.length > 0">
                                </carousel>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <button mat-flat-button type="submit" color="primary" style="float: right;"
        (click)="editCar($event, this.data)">Wijzig</button>
</form>