$primary-color: #1D0E4C;
$secondary-color:#FD6666;
$light-gray:#dedede;
$medium-gray:#a2a2a2;
$dark-gray:#666;

body {
    padding:0;
    margin:0
}
mat-toolbar h1 {
    color: $secondary-color;
}
mat-toolbar div {
    margin:0 50px
}
mat-toolbar a {
    color: $primary-color
}
mat-toolbar a:hover {
    color: $secondary-color
}
header img {
    width: 70px;
    position:absolute;
    top:5px;
    right:10px
}
footer {
    background-color:$primary-color;
    color:white;
    padding:10px;
    position:absolute;
    bottom:0;
    left:0;
    right:0
}
footer, header {
    overflow: hidden
}
footer ul, header ul {
    list-style-type: none;
}
footer li, header li {
    float:left;
    margin-right:20px
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
