$primary-color: #1D0E4C;
$secondary-color:#FD6666;
$light-gray:#dedede;
$medium-gray:#a2a2a2;
$dark-gray:#666;

html, body { 
    height: 100%; 
}
body {
    padding:0;
    margin:0;
    font-family: Roboto, "Helvetica Neue", sans-serif
}
mat-toolbar h1 a {
    text-decoration: none;
    color: $secondary-color;
}
mat-toolbar a {
    color: $primary-color
}
mat-toolbar a:hover {
    color: $secondary-color
}
footer {
    background-color:$primary-color;
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    right:0
}
footer, header {
    overflow: hidden
}
footer ul, header ul {
    list-style-type: none;
}
.flexExpand {
    flex: 1 1 auto;
}
.flexContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.flexCol {
    flex-direction: column;
}
.mr-5 {
    margin-right: 25px
}
.p-5 {
    padding: 25px
}
.h-100 {
    height: 100%
}
h1 {
    font-size: 3em;
    color: $secondary-color
}
h2 {
    color: $primary-color
}
a { 
    color:$secondary-color;
    text-decoration: none;
}
a:hover { 
    color:$primary-color
}
footer a:hover { 
    color:$secondary-color
}
.label {
    display: inline-block;
    width:60px
}
