$primary-color: #1D0E4C;
$secondary-color:#FD6666;
$light-gray:#dedede;
$medium-gray:#a2a2a2;
$dark-gray:#666;

body {
    padding:0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: $light-gray;
    padding:10px 15px;
    line-height: 35px;
}
header h1 {
    float: left;
    color: $secondary-color;
    margin:0 50px 0 0
}
header ul:nth-child(2) {
    position:absolute;
    top:10px;
    right:80px
}
header li {
    color: $primary-color
}
header img {
    width: 70px;
    position:absolute;
    top:5px;
    right:10px
}
footer {
    background-color:$primary-color;
    color:white;
    padding:10px;
    position:absolute;
    bottom:0;
    left:0;
    right:0
}
footer, header {
    overflow: hidden
}
footer ul, header ul {
    list-style-type: none;
}
footer li, header li {
    float:left;
    margin-right:20px
}