<table #table mat-table [dataSource]="cars" class="mat-elevation-z8">
    
    <!-- Make Column -->
    <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef> Merk </th>
        <td mat-cell *matCellDef="let element"> {{element.make}} </td>
    </ng-container>

    <!-- Model Column -->
    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
