<mat-form-field>
  <input matInput type="text" [(ngModel)]="searchText" placeholder="Zoeken op auto of kenteken" >
  <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<!--<div class="example-container mat-elevation-z8">-->
<!--  <div class="example-loading-shade"-->
<!--       *ngIf="isLoadingResults || isRateLimitReached">-->
<!--    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>-->
<!--    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">-->
<!--      GitHub's API rate limit has been reached. It will be reset in one minute.-->
<!--    </div>-->
<!--  </div>-->

<div class="example-table-container mat-elevation-z8">
  <mat-table #table *ngIf="agreements" [dataSource]="agreements | appFilter: searchText">
      <ng-container matColumnDef="carId">
        <mat-header-cell id="carId" mat-header-cell *matHeaderCellDef> Auto </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{ element.car.make }} {{ element.car.model }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberPlate">
        <mat-header-cell id="numberPlate" mat-header-cell *matHeaderCellDef> Kenteken </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{ element.car.numberPlate }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell id="startDate" mat-header-cell *matHeaderCellDef> Start datum </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{ element.startDate | date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell id="endDate" mat-header-cell *matHeaderCellDef> Eind datum </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{ element.endDate | date }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>
  </mat-table>
</div>
