<mat-form-field>
  <input matInput type="text" [(ngModel)]="searchText" placeholder="Zoeken op auto of kenteken" >
  <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">
    <ng-container *ngIf="agreements">
      <mat-table #table [dataSource]="agreements | appFilter: searchText">

        <ng-container matColumnDef="carId">
          <th id="carId" mat-header-cell *matHeaderCellDef> Auto </th>
          <td mat-cell *matCellDef="let element"> {{ element.car.make }} {{ element.car.model }} </td>
        </ng-container>

        <ng-container matColumnDef="numberPlate">
          <th id="numberPlate" mat-header-cell *matHeaderCellDef> Kenteken </th>
          <td mat-cell *matCellDef="let element"> {{ element.car.numberPlate }} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
          <th id="startDate" mat-header-cell *matHeaderCellDef> Start datum </th>
          <td mat-cell *matCellDef="let element"> {{ element.startDate | date }} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
          <th id="endDate" mat-header-cell *matHeaderCellDef> Eind datum </th>
          <td mat-cell *matCellDef="let element"> {{ element.endDate | date }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns"
            (click)="onRowClicked(row)">
        </tr>
      </mat-table>

      <div class="m-3" *ngIf="agreements.length === 0">Geen overeenkomsten gevonden</div>
    </ng-container>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5"></mat-paginator>
</div>
