<div>
    <img src="assets/img/app/maincar.jpg" alt="car" width="20%">
</div>

<div>
    <h1>Registreren</h1>
    <p>U bent nog niet bekend in ons systeem en wilt een auto huren of verhuren.</p>
</div>

<div>
    <mat-form-field>
        <input type="text" placeholder="E-mailadres" matInput>
    </mat-form-field>
</div>

<div>
    <mat-form-field>
        <input type="text" placeholder="Wachtwoord" matInput>
    </mat-form-field>
</div>


<div>
    <mat-checkbox>U gaat akkoord met onze voorwaarden</mat-checkbox>
</div>

<div>
    <button style="float: left;">Registreren</button>
    <p style="float: left;">of aanmelden als bestaande gebruiker</p>
</div>