<div class="flexContainer flexCol p-5">


    <div style="display:flex; margin-top: 5%;">
        <form>

            <div style="width: 500px;">
                <img src="assets/img/app/maincar.jpg" alt="car" width="90%">
            </div>

            <div style="width: 500px;">
                <div>
                    <h1>Registreren</h1>
                    <p>U bent nog niet bekend in ons systeem en wilt een auto huren of verhuren.</p>
                </div>

                <div>
                    <mat-form-field>
                        <input required type="text" placeholder="Gebruiksernaam" matInput [(ngModel)]="user.username" name="username">

                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input required type="text" placeholder="Wachtwoord" matInput [(ngModel)]="user.password"  name="password">
                    </mat-form-field>
                </div>

                <div>
                    <mat-checkbox (change)="changeCheck($event)">U gaat akkoord met onze voorwaarden</mat-checkbox>
                </div>

                <div style="margin-top: 10px;">
                    <button mat-flat-button type="submit" color="primary" style="float: left;"
                        [disabled]="disabledAgreement || !user.password || !user.username" mat-button class="NxtBtnWrap"
                        (click)="register()">Registreren</button>
                </div>
            </div>
        </form>
    </div>
</div>