<div class="flexContainer p-5">
    <div>
        &nbsp;
    </div>
    <div>
        <img src="/assets/img/app/maincar.jpg" alt="car">
    </div>
    <div>
        <h1>Contact</h1>
        <h2>Bij vragen of opmerkingen</h2>
        <p style="width:50%">
            U kunt ons telefonisch bereiken of uw vraag of opmerkingen per e-mail
            naar ons sturen. Wij beantwoorden uw bericht zo spoedig mogelijk.
        </p>
        <p>
            Bereikbaar van maandag tot en met vrijdag van 09:00 - 18:00 uur.
        </p>
        <p>
            <span class="label">telefoon</span>: <a href="tel:0031101234567">+31 10-1234567</a>
        </p>
        <p>
            <span class="label">e-mail</span>: <a href="mailto:info@lot-o-cars.com">info@lot-o-cars.com</a>
        </p>
        <p>
            <span class="label" style="float:left">adres</span>
            <span style="float:left;margin-right:5px">:</span>
            <span style="display:inline-block">
                World Trade Center Rotterdam<br>
                Beursplein 37<br>
                3011 AA  Rotterdam<br><br>

                Postbus 1234<br>
                3000 AA  Rotterdam
            </span>
        </p>
    </div>
    <div>
        &nbsp;
    </div>
</div>
