<div class="container-fluid" style="overflow-x:hidden">
    <div class="row">
        <div class="col-md-12 m-3">
            <a routerLink="/hire">
                <span class="material-icons">
                    arrow_back_ios
                </span>
                <span style="position:relative;top:-7px">
                    terug naar de lijst
                </span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card class="mb-3">
                <mat-card-header>
                <mat-card-title>foto's</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngIf="carImages.length == 0">
                        <img src="assets/img/app/maincar.jpg" alt="car" width="100%" />
                        <p class="text-center">Geen foto's van deze auto beschikbaar</p>
                    </ng-container>
                    <carousel objectFit="contain" [images]="carImages" cellsToShow="1" dots="true" *ngIf="carImages.length > 0">
                    </carousel>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mb-3">
                <mat-card-header>
                <mat-card-title>auto</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngIf="car">
                        <div><label class="label">merk</label> {{ car.make }}</div>
                        <div><label class="label">model</label> {{ car.model }}</div>
                        <div><label class="label">carrosserie</label> {{ car.body | lowercase }}</div>
                        <div><label class="label">brandstof</label> {{ car.fuel | lowercase }}</div>
                        <div><label class="label">transmissie</label> {{ car.transmission | lowercase }}</div>
                        <div><label class="label">verbruik</label> {{ car.fuelUsage }} l/100km</div>
                        <div><label class="label">bouwjaar</label> {{ car.modelYear }}</div>
                        <div><label class="label">kleur</label> {{ car.color | lowercase }}</div>
                        <div><label class="label">kenteken</label> {{ car.numberPlate }}</div>
                        <div><label class="label">deuren</label> {{ car.doors }}</div>
                        <div><label class="label">zitplaatsen</label> {{ car.seats }}</div>
                        <div><label class="label">bagageruimte</label> {{ car.bootSpaceInLiters }} l</div>
                        <div><label class="label">navigatie</label> {{ car.navigation ? 'ja' : 'nee' }}</div>
                        <div><label class="label">airco</label> {{ car.airco ? 'ja' : 'nee' }}</div>
                        <div><label class="label">rookvrij</label> {{ car.smokingIsAllowed ? 'ja' : 'nee' }}</div>
                    </ng-container>
                </mat-card-content>
            </mat-card>
            <mat-card class="mb-3">
                <mat-card-header>
                <mat-card-title>ophaaladres</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngIf="car">
                        <div><label class="label">straat</label> {{ car.location.addressLine1 }}</div>
                        <div><label class="label">postcode</label> {{ car.location.zipcode }}</div>
                        <div><label class="label">plaats</label> {{ car.location.city }}</div>
                        <div><label class="label">gemeente</label> {{ car.location.municipality }}</div>
                    </ng-container>
                </mat-card-content>
            </mat-card>
            <mat-card class="mb-3">
                <mat-card-header>
                <mat-card-title>verhuurder</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngIf="car">
                        <div><label class="label">naam</label> {{ car.user.firstname + ' ' + car.user.lastname }}</div>
                        <div><label class="label">telefoon</label> {{ car.user.phonenumber }}</div>
                        <div><label class="label">e-mail</label> <a href="mailto:{{ car.user.emailaddress }}">{{ car.user.emailaddress }}</a></div>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="mb-3">
                <mat-card-header>
                <mat-card-title>beschikbaarheid</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-calendar
                        [blockedDates]="blockedDates"
                        (selectedDate)="onDateSelected($event)">
                    </app-calendar>
                
                    <hr>
                    <div class="mt-4 text-center font-weight-bold" style='font-size:18px'>
                        huurprijs:
                        <ng-container *ngIf="car">
                            {{ car.rentPricePerHour | currency:'EUR' }} 
                            <span style="font-size:12px"> per dag </span>
                        </ng-container> 
                    </div>
                </mat-card-content>
                <mat-card-actions style="text-align:center">
                    <button mat-flat-button color="primary" (click)="onButtonClicked()"> deze auto huren </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
