<div class="container-flex mt-3" style="overflow-x:hidden">

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 text-center">
            <h1>Dashboard</h1>
        </div>
        <div class="col-md-3">
            
        </div>
    </div>

    <div class="row p-3">

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">filters</h2>
                <div class="filter-container mt-3 row">
                    <div class="col-md">
                        <ul>
                            <li *ngFor="let item of years">
                                <mat-checkbox name="yearFilter" [(ngModel)]="item.checked" 
                                    (change)="yearFilterChanged(item)" 
                                    title="filter huurovereenkomsten op dit jaar">
                                        {{item.text}}
                                </mat-checkbox>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <ul>
                            <li>
                                <mat-checkbox name="includePending" [(ngModel)]="includePending" 
                                    (change)="filterChanged()" 
                                    title="inclusief ingediende huurovereenkomsten">
                                        Inclusief ingediend
                                </mat-checkbox>
                                <mat-checkbox name="includeUnpayed" [(ngModel)]="includeUnpayed" 
                                    (change)="filterChanged()" 
                                    title="inclusief onbetaalde huurovereenkomsten">
                                        Inclusief onbetaald
                                </mat-checkbox>
                            </li>
                        </ul>
                        <div class="mt-lg-5 pl-2" [hidden]="!isAdminUser">
                            <label>Dashboard view</label>
                            <mat-radio-group name="isAdminDashboard"  [(ngModel)]="isAdminDashboard">
                                <mat-radio-button [value]="true" (change)="switchDashboardView($event)">lot-o-cars</mat-radio-button>
                                <mat-radio-button [value]="false" (change)="switchDashboardView($event)">verhuurder</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">omzet per periode</h2>
                <div id="chartRevenue"></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3" [hidden]="isAdminDashboard">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">winst en kosten per periode</h2>
                <div id="chartProfitAndCosts"></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3" [hidden]="isAdminDashboard">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">aandeel omzet per auto</h2>
                <div id="chartCarRevenuePart"></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">omzet per jaar</h2>
                <div id="tableRevenue" class="p-3 text-center">
                    <table class="data">
                        <thead>
                            <tr>
                                <th>jaar</th>
                                <th>omzet</th>
                                <th *ngIf="!isAdminDashboard">kosten</th>
                                <th *ngIf="!isAdminDashboard">winst</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="yearTotals">
                            <tr *ngFor="let item of yearTotals">
                                <td>{{item.year}}</td>
                                <td>{{item.revenueTotal | currency: 'EUR'}}</td>
                                <td *ngIf="!isAdminDashboard">{{item.costsTotal | currency: 'EUR'}}</td>
                                <td *ngIf="!isAdminDashboard">{{item.profitTotal | currency: 'EUR'}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>TOTAAL</td>
                                <td>{{revenueTotal | currency: 'EUR'}}</td>
                                <td *ngIf="!isAdminDashboard">{{costsTotal | currency: 'EUR'}}</td>
                                <td *ngIf="!isAdminDashboard">{{profitTotal | currency: 'EUR'}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">aantallen</h2>
                <div id="tableRevenue" class="p-3 text-center">
                    <table class="data mt-4">
                        <tbody>
                            <tr *ngFor="let item of keyValuePairs">
                                <td>{{item.key}}</td>
                                <td>{{item.value | number:'1.0-2':'nl'}}</td>
                            </tr>
                            <tr *ngIf="!isAdminDashboard"><td>huurovereenkomsten met status ingediend</td><td>{{numOfPendingAgreements}}</td></tr>
                            <tr *ngIf="!isAdminDashboard"><td>onbetaalde huurovereenkomsten</td><td>{{numOfUnpaidAgreements}}</td></tr>
                            <tr><td>omzet (gemiddeld per jaar)</td><td>{{avgYearRevenue | currency: 'EUR'}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
