<div class="container-flex mt-3">

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 text-center">
            <h1>Dashboard</h1>
        </div>
        <div class="col-md-3">
            
        </div>
    </div>

    <div class="row p-3">

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">filters</h2>
                <div class="filter-container mt-3">
                    <ul>
                        <li *ngFor="let item of years">
                            <mat-checkbox [(ngModel)]="item.checked" (change)="yearFilterChanged(item)">{{item.text}}</mat-checkbox>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">omzet per periode</h2>
                <div id="chartRevenue"></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">opbrengsten en kosten per periode</h2>
                <div id="chartProfitAndCosts"></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">aandeel omzet per auto</h2>
                <div id="chartCarRevenuePart"></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">omzet per jaar</h2>
                <div id="tableRevenue" class="p-3 text-center">
                    <table class="data">
                        <thead>
                            <tr>
                                <th>jaar</th>
                                <th>omzet</th>
                                <th>kosten</th>
                                <th>winst</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="yearTotals">
                            <tr *ngFor="let item of yearTotals">
                                <td>{{item.year}}</td>
                                <td>{{item.revenueTotal | currency: 'EUR'}}</td>
                                <td>{{item.costsTotal | currency: 'EUR'}}</td>
                                <td>{{item.profitTotal | currency: 'EUR'}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>TOTAAL</th>
                                <th>{{revenueTotal | currency: 'EUR'}}</th>
                                <th>{{costsTotal | currency: 'EUR'}}</th>
                                <th>{{profitTotal | currency: 'EUR'}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-3">
            <div class="dash-item border rounded p-2">
                <h2 class="text-center">aantallen</h2>
                <div id="tableRevenue" class="p-3 text-center">
                    <table class="data">
                        <tbody>
                            <tr><td>huurovereenkomsten met status ingediend</td><td>{{numOfPendingAgreements}}</td></tr>
                            <tr><td>onbetaalde huurovereenkomsten</td><td>{{numOfUnpaidAgreements}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
