<div class="flexContainer p-5">
    <div>
        &nbsp;
    </div>
    <div>
        <img src="/assets/img/app/maincar.jpg" alt="car">
    </div>
    <div>
        <h1>Voorwaarden</h1>
        <ul>
            <li>Voorwaarde 1</li>
            <li>Voorwaarde 2</li>
            <li>Voorwaarde 3</li>
            <li>Voorwaarde 4</li>
            <li>Voorwaarde 5</li>
            <li>Voorwaarde 6</li>
            <li>Voorwaarde 7</li>
            <li>Voorwaarde 8</li>
            <li>Voorwaarde 9</li>
            <li>Voorwaarde 10</li>
        </ul>
        
    </div>
    <div>
        &nbsp;
    </div>
</div>
