<div class="flex-container">
    <div class="flex-items">
        <div>
            <img src="assets/img/app/maincar.jpg" alt="car" width="80%">
        </div>
    </div>
    <div class="flex-items">
            <h1>Voorwaarden</h1>

            <h3>Algemeen</h3>
            <p>
                lot-o-cars, gevestigd in Rotterdam, is de eigenaar van deze website en exploiteert deze website. 
                In deze voorwaarden verwijzen ”wij”, ”onze” en ”ons” naar lot-o-cars Autoverhuur. 
                U wordt verzocht deze voorwaarden zorgvuldig te lezen alvorens de website te gebruiken. 
                Uw gebruik van de website betekent dat u er mee instemt gebonden te zijn door deze voorwaarden.
            </p>
            <h3>Gegevensbescherming</h3>
            <p>
                Alle persoonlijke gegevens die u ons verschaft bij het gebruik van deze website zullen overeenkomstig 
                onze privacy policy gebruikt worden.
            </p>
            <h3>Eigendomsrechten</h3>
            <p>
                Alle merken, auteursrechten, database-rechten en andere rechten van intellectueel eigendom met betrekking 
                tot het materiaal op deze website (en met betrekking tot de organisatie en de lay-out van deze website) zijn, 
                tezamen met de onderliggende softwarecode(s), het directe eigendom van ons of onze licentiehouders. 
                Zonder onze voorafgaande schriftelijke toestemming is het u niet toegestaan om materiaal op deze website 
                of de onderliggende softwarecode in zijn geheel of gedeeltelijk te kopiëren, te wijzigen, te veranderen, 
                openbaar te maken, uit te zenden, te distribueren, te verkopen of over te dragen. De inhoud van deze website 
                mag echter gedownload worden, uitgeprint of worden gekopieerd voor uw persoonlijk, niet-commercieel, gebruik.
            </p>
            <h3>Aanvaardbaar gebruik</h3>
            <p>
                U mag deze website alleen overeenkomstig deze voorwaarden gebruiken en in ieder geval voor rechtsgeldige en 
                geschikte doeleinden, wat inhoudt dat voldaan wordt aan alle van toepassing zijnde wetten, regelgeving en 
                praktijkcodes binnen Nederland of enig ander rechtsgebied van waaruit u deze website benadert.
            </p>
            U komt in het bijzonder overeen dat u:
            <ul>
                <li>
                    geen informatie zal posten, verzenden of verspreiden op of via deze website die schadelijk, obsceen, 
                    beledigend of anderszins onwettig is of kan zijn;
                </li>
                <li>
                    geen ongemachtigde, valse of frauduleuze reservering zult maken;
                </li>
                <li>
                    de ‘look & feel’ van deze website of de onderliggende softwarecode niet zult verwijderen, wijzigen of ermee interfereren;
                </li>
                <li>
                    geen ongemachtigde toegang zult verkrijgen of proberen te verkrijgen, via wat voor middel dan ook, tot (enig deel van) onze netwerken.
                </li>
                <li>
                    deze website niet zo zult gebruiken dat inbreuk wordt gemaakt of kan worden gemaakt op de rechten van een derde;
                </li>
                <li>
                    geen software, routine of apparaat zult gebruiken om elektronisch of handmatig te interfereren of pogen te 
                    interfereren met de aansturing of functionaliteit van deze website, met inbegrip van maar niet beperkt tot het 
                    opladen of beschikbaar stellen van bestanden die corrupte gegevens of virussen bevatten via wat voor middel dan ook;
                </li>
                <li>
                    geen actie zult ondernemen die deze website of de gerelateerde infrastructuur overmatig of onredelijk belast;
                </li>
            </ul>
    </div>
 </div>
