<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 m-4">
            <a (click)="navigateBack()">
                <span class="material-icons">
                    arrow_back_ios
                </span>
                <span style="position:relative;top:-7px">
                    terug naar de lijst
                </span>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <h1></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Broker tarief request</mat-card-title>
                </mat-card-header>
                <mat-card-content >
                    <div>
                        <div>
                            {{brokerfeeRequest.user.firstname | titlecase}} {{brokerfeeRequest.user.lastname | titlecase}}
                        </div>
                    </div>
                    <div>Broker tarief van {{brokerfeeRequest.originalFee}} naar {{brokerfeeRequest.proposedFee}}</div>
                    <div class="label">status</div>
                    <div>{{currentStatus | lowercase}}</div>
                    <div class="mt-3 label">toelichting</div>
                    <div *ngIf="!isPending">{{brokerfeeRequest.reason || '-'}}</div>
                    <div *ngIf="isPending">
                        <mat-form-field>
                            <textarea matInput #reasonInput rows="5" [(ngModel)]="reason"></textarea>
                        </mat-form-field>
                        <div class="mt-3" *ngIf="isAdminUser">
                            <button class="mr-1" mat-flat-button color="primary" (click)="approveBrokerfeeRequest()">verzoek accepteren</button>
                            <button mat-flat-button color="primary" (click)="rejectBrokerfeeRequest()">verzoek afwijzen</button>
                        </div>
                        <div class="mt-3" *ngIf="!isAdminUser">
                            <button mat-flat-button color="primary" (click)="cancelBrokerfeeRequest()">verzoek annuleren</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>