.label {
    color:#666;
    font-size: 12px;
    width:150px
}
.mat-card-header .mat-card-title {
    margin-left: -17px;
    color:#333;
}
.mat-card {
    background-color: #fcfcfa;
}
h1 {
    position: relative;
    top:10px
}
a:hover {
    cursor: pointer
}
mat-form-field {
    width: 100%;
}