<div class="flexContainer flexCol p-5">
    <div style="margin-top: 30px;">
        <form>
            <table style="border-spacing: 50px 5px;">
                <tr>
                    <td>
                        <label>
                            {{user?.firstname}}
                        </label>
                    </td>
                    <td>
                        <mat-form-field>
                            <input type="text" placeholder="Voornaam" matInput name="firstnameInput" [(ngModel)]="firstnameInput">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            {{user?.lastname}}
                        </label>
                    </td>
                    <td>
                        <mat-form-field>
                            <input type="text" placeholder="Achternaam" matInput name="lastnameInput" [(ngModel)]="lastnameInput">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            {{user?.phonenumber}}
                        </label>
                    </td>
                    <td>
                        <mat-form-field>
                            <input type="text" placeholder="Telefoonnummer" matInput name="phonenumberInput" [(ngModel)]="phonenumberInput">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            {{user?.emailaddress}}
                        </label>
                    </td>
                    <td>
                        <mat-form-field>
                            <input #emailaddress pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" email="true"
                                type="email" placeholder="Emailaddres" matInput name="emailaddressInput" [(ngModel)]="emailaddressInput">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            ***********
                        </label>
                    </td>
                    <td>
                        <mat-form-field>
                            <input type="password" placeholder="Wachtwoord" matInput name="passwordInput" [(ngModel)]="passwordInput">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div style="margin-top: 10px;">
                            <button mat-flat-button type="submit" color="primary" style="float: right;"
                            (click)="editUser()" mat-button class="NxtBtnWrap"
                            [disabled]="!emailaddress.validity.valid"
                            >Opslaan</button>
                         </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>